$text-color: #e8e8e8;
$secondary: #797979;
$active: #4c4c4c;
$primary: #252525;

* {
    font-family: "JetBrains Mono", monospace;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //color: #e8e8e8;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

h1 {
    color: $text-color;
}

h3 {
    font-size: 15px;
    font-weight: 500;
    color: $text-color;
}

p {
    color: $text-color;
}

input[type="range"] {
    margin: 10px 0px;
    width: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#main {
    overflow: auto;
    height: 100%;
    height: inherit;
    @include flex(column, flex-start, flex-start);
    padding: 30px;
    //flex-wrap: wrap;

    > div {
    }

    background: $primary;
    gap: 30px;
}

#header {
    width: 100vw;
}

#left {
    @include flex(row, space-between, space-between);
    //lex-shrink: 2;
    //flex-wrap: wrap;
    //height: inherit;
    //@include flex(column, space-between, flex-start);
    min-width: 100px;
    > div {
        //width: 100%;
        //flex-shrink: 2;
    }


}

#toggles > div {
    @include flex(row, space-between, center);
    margin: 10px 0px;

    label {
        display: inline-block;
        position: relative;
        width: 48px;
        height: 24px;
        background: $secondary;
        //padding: 4px 2px;
        transition: all 0.1s ease-out 0ms;
        border-radius: 1px;
        cursor: pointer;
    }

    label::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: 3px;
        left: 3px;
        //aspect-ratio: 1/1;
        background-color: $text-color;
        transition: all 0.1s ease-out 0ms;
        border-radius: inherit;
    }

    input:checked + label{
        background: $active;

        &:hover {
            background: #555555;
        }

        &::after {
            left: 27px;
            //scale: 1.2;
        }
    }

    input:hover + label{
       // background: $active;
        background: #828282;

        &::after {
            scale: 1.05;
        }
    }

    input:active + label{
        // background: $active;
         background: #828282;
 
         &::after {
             scale: 0.95;
         }
     }

}


input[type="checkbox"]{
    display: none;

    & + label {

        svg {
            height: 100%;
            width: 100%;
        }
    }
}

// input {
//     transition: all 0.5s ease-out 0ms;
//     * {
//         transition: all 0.5s ease-out 0ms;
//     }
// }

input[type="range"] {
    -webkit-appearance: none;
    background: $secondary;
    width: 100%;
    height: 100%;
    border-radius: 1px;

    &::-webkit-slider-thumb {
        position: relative;
        -webkit-appearance: none;
        background: $text-color;
        //width: 50px;
        height: 18px;
        top: 3px;
        aspect-ratio: 1/1;
        box-shadow: 0px 0px 2px rgb(87, 87, 87);

        transition: all 0.1s ease-out 0ms;
        &:hover {
            scale: 1.05;
        }

        &:active {
            scale: 0.95;
    }
    }

    &::-webkit-slider-runnable-track {
        background: $secondary;
        height: 24px;
        width: 100%;
    }
}



#settings > div {
    margin: 25px 0px;
    width: 100%;
}

#buttons {
    @include flex(row, space-between, center);

    input[type="checkbox"] {
        transition: 0.1s ease-out 0ms;
        cursor: pointer;
        color: $text-color;
        border-style: none;
        height: 50px;
        width: 50px;
        border: none;
        background: none;
        cursor: pointer;
        color: $text-color;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

#slider {
    div {
        @include flex(row, space-between, center);
    }
}

#container {
    height: 600px;
    width: 600px;
}

#canvas {
    height: 500px;
    width: 500px;
    display: grid;
    background: #e8e8e8;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    box-shadow: 0px 0px 60px rgb(52, 52, 52);
}

.tile {
    background-color: #ffffff;
    border: none;
    transition: background-color 40ms ease-out;
    //user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tile:hover {
    background-color: #d1d1d1;
}

// #color {
//     height: 50px;
//     width: 50px;
//     border-radius: 100%;
//     background-color: azure;

//     input {
//         width: 100%;
//         height: 100%;
//         opacity: 0;
//     }
// }

button,
.color {
    transition: 0.1s ease-out 0ms;
    cursor: pointer;
    color: $text-color;
    border-style: none;
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
    color: $text-color;

    &:hover {
        transform: scale(1.05);
        
    }

    &:active {
        transform: scale(0.995);
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.color {
    box-shadow: 0px 0px 10px rgb(36, 36, 36);
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgb(241, 241, 241);

    input {
        padding: 0;
        width: 150%;
        height: 150%;
        margin: -25%;

        border-style: none;
        background: none;
        cursor: pointer;
    }

    &:focus {
        transform: scale(1.1);
    }
}
